.user_info_row{ background:#f5f5f5; border:#ccc solid 1px; border-left:0px; border-right:0px; padding:20px 0px; margin:0px 0px 20px 0px; }
.home_user_avatar{ float:left; width:200px; height:200px;}
.home_user_info{ float:left; width:740px; padding-left:20px;}

.send_message{ display:inline-block; width:17px; height:12px; font-size:0px; line-height:0px; margin-left:5px; background:url(../images/message.gif) 0px 3px no-repeat; cursor:pointer;}

.home_user_name{ font-size:30px; font-weight:bolder; font-family:"微软雅黑"; padding:0px 0px 10px 0px; line-height:30px;}
.home_message{ }
.home_user_join{ padding:5px 0px; color:#999; font-size:14px;}
.home_user_weibo{ padding:5px 0px;}
.home_user_weibo .title{ font-size:20px; font-weight:bolder; font-family:"微软雅黑"; line-height:40px; }
.home_user_desc{ color:#999; font-size:14px; }
