.deal_log_title .title{ float:left; background:url(../images/time_line.png) no-repeat 0px -410px; height:30px; padding-left:20px; line-height:30px; }
.deal_log_title #add_update{ float:right;}

.timeline{ background:url(../images/timeline-left-bg.gif) repeat-y;}

.timeline-time-mark-t {
  height: 25px;
  margin-bottom: 17px;
}
.timeline-time-mark-t p,.timeline-time-mark-t span{
	background:url(../images/time_line.png) no-repeat; 
	display: block;
	float: left;
	height: 25px;
}
.timeline-time-mark-t p {
  background-position: left -29px;
  float:left; display:block; height:25px;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 25px;
  padding-left: 42px;
}
.timeline-time-mark-t span {
	 background:url(../images/time_line.png) no-repeat; 
  background-position: -292px -29px;
  width: 16px;
}



.timeline-box {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 5px 5px 5px 5px;
  margin: 0 0 20px 27px;
  padding: 10px;
  font-size:14px; color:#666;
  line-height:25px;

}

.timeline-left-gray-box{
	position:relative;
}
.timeline-left-gray {
  background:url(../images/time_line.png) no-repeat; 
  background-position: left -116px;
  height: 29px;
  left:-38px;
  top:0px;
  position: absolute;
  width: 28px;
}

.log_image_upd{ float:left; height:50px; width:50px; margin-left:10px; border:#ccc solid 1px; display:none; }

.log_user_avatar{ float:left; width:50px; height:50px; }
.log_user_info{ float:left; margin-left:10px; width:300px;}
.log_auth_row{ border-bottom:#d9d9d9 solid 1px;}


.timeline-start {
  height: 15px;
  line-height: 16px;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 8px;
}
.timeline-start span{
	background:url(../images/time_line.png) no-repeat; 
}

.timeline-start span {
  background-position: left -203px;
  color: #FFFFFF;
  display: block;
  float: left;
  font-size: 14px;
  height: 36px;
  line-height: 30px;
  margin: -13px 0 0;
  padding-left: 39px;
  position: absolute;
  width: 100px;
}

.timeline-start strong {
  color: #B3B3B3;
  font-weight: normal;
  margin-left: 131px;
}

.ajax_loading_log{ background:#f2f2f2; border:#d5d5d5 solid 1px; height:30px; line-height:30px; text-align:center; font-size:14px; color:#666; border-radius:3px;
margin: 0 0 20px 27px;

}

.deal_user_name a,.deal_user_name a:hover{ color:#690; text-decoration:none;}

.projects-dynamic-open {
  background:url(../images/time_line.png);
  background-position: left -374px;
  height: 23px;
  margin: -11px 0 0 511px;
  position: absolute;
  width: 21px;
  display:none;
}

.comment_tip_row{ text-align:right; font-size:12px; height:15px; line-height:15px; }
.comment_tip_row a{ color:#690; text-decoration:none;}
.comment_tip_row a:hover{ color:#9c0; text-decoration:none;}

.timeline-comment {
  background: none repeat scroll 0 0 #F3F3F3;
  border-radius: 5px 5px 5px 5px;
  margin: 12px 0 0;
  overflow: hidden;
  padding: 10px 0 0;
  width: 521px;
}
.timeline-comment-top {
  margin: -23px 0 0 471px;
}
.timeline-comment-top {
	background:url(../images/time_line.png);
  background-position: left -325px;
  clear: both;
  display: block;
  height: 15px;
  position: absolute;
  width: 22px;
}

.deal_comment_list{ padding:0px 10px 10px 10px;}
.comment-content{ padding:0px 10px 10px 10px;}
.comment-content textarea{ border:#ccc solid 1px; width:490px; height:18px; padding:5px; color:#666; font-size:14px; line-height:18px; border-radius:3px; min-width:490px; max-width:490px; min-height:18px; max-height:18px; }
.comment-content textarea.inputing{ border:#ccc solid 1px; width:490px; height:60px; padding:5px; color:#666; font-size:14px; line-height:18px; border-radius:3px; min-width:490px; max-width:490px; min-height:60px; max-height:60px; }

.reply_content textarea{  border:#ccc solid 1px; width:450px; height:60px; padding:5px; color:#666; font-size:14px; line-height:18px; border-radius:3px; min-width:450px; max-width:450px; min-height:60px; max-height:60px; }

.comment-btn{ padding:0px 10px; display:none;}
.syn_weibo{ float:left;}
.send_btn{ float:right;}
.syn_weibo input{float:left;}
.syn_weibo span{ font-size:12px; float:left; line-height:18px; _line-height:22px; *line-height:22px;}

.comment_item{ border-top:1px solid #d5d5d5; padding-top:5px;}
.comment_user_avatar{ width:30px; height:30px; float:left; padding-top:5px; }
.comment_user_avatar img{ width:30px; height:30px;}
.comment_content{ float:left; width:460px; margin-left:10px; line-height:18px; font-size:12px;}
.comment_op{ float:right; font-size:12px;}
.pass_time{ color:#ccc;}
.reply_box{ display:none;}
.delcomment{ display:none;}

.timeline-comment-more {
  background: none repeat scroll 0 0 #F5F5F5;
  border-top: 1px solid #EBEBEB;
  color: #ADADAD;
  height: 33px;
  overflow: hidden;
  font-size:12px;
}
.timeline-comment-more p {
  float: right;
  width: 85px;
  overflow:hidden;
}


.timeline-comment-more A, .timeline-comment-more A:link, .timeline-comment-more A:visited, .timeline-comment-more A:active, .timeline-comment-more A:hover {
  color: #669900;
  cursor: pointer;
  outline: medium none;
  text-decoration: none;
}
.timeline-comment-more p A {
  float: left;
  width: 90px;
}
.timeline-comment-more p A, .timeline-comment-more span A {
  display: block;
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  padding-left: 25px;
}

.timeline-comment-more span A {
  background:url(../images/time_line.png);
  background-position: -186px -242px;
  float: left;
  width: 36px;
}

