.faq_box{ padding:20px;}
.faq_title{ font-size:16px; font-weight:bolder; padding:5px 0px;}
.faq_question{ border:1px solid #F0F0F0; background:#f5f5f5; color:#72A40F; font-size:14px; height:35px; line-height:35px; padding:0px 20px;  cursor:pointer;}
.faq_answer{ display:none; border:1px dotted #f0f0f0; border-top:0px; padding:0px 20px; font-size:14px; line-height:35px;}
