@CHARSET "UTF-8";
body{ font-size:12px; font-family:"verdana,Arial";  margin:0px; padding:0px; color:#404040; }
.main{ text-align:center; height:30px; color:#333; line-height:30px; font-size:14px;}
